<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="selenium grid test"  >
    <listeners>
        <listener class-name="com.epam.reportportal.testng.ReportPortalTestNGListener"/>
    </listeners>
    <test name="Verify Selenium Downloads Page" >
        <classes>
            <class name="seleniumgrid.tests.SeleniumDocPage">
                <methods>
                    <include name="testOpenSeleniumDocPage"/>
                </methods>
            </class>
            <class name="seleniumgrid.tests.SeleniumDownloadsPage">
                <methods>
                    <include name="testSeleniumDownPage"/>
                </methods>
            </class>

            <class name="factorypatternfirsttask.tests.FirstTest">
                <methods>
                    <include name="testFactoryPattern"/>
                </methods>
            </class>
            <class name="factorypatternsecondtask.tests.SecondTest">
                <methods>
                    <include name="testSecondFactoryPattern"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
