<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Selenium Using TestNG">
    <listeners>
        <listener class-name="com.epam.reportportal.testng.ReportPortalTestNGListener"></listener>
    </listeners>

    <test name="Registration test">
        <classes>
            <class name="seleniumtestusingtestng.SeleniumRegistrationTest">
                <methods>
                    <include name="registrationUsingValidDetails"/>
                    <include name="registerUsingAlreadyRegisteredMail"/>
                    <include name="registrationUsingValidMailAndMissingName"/>
                    <include name="registrationUsingValidNameAndInvalidEmail"/>
                    <include name="registrationUsingNameAndEmailField"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="SignIn or SignOut Test">
        <classes>
            <class name="seleniumtestusingtestng.SeleniumSignInOrSignOutTest">
                <methods>
                    <include name="successfullSignInUsingRegisteredMail"/>
                    <include name="successfullSignOutAfterSignIn"/>
                    <include name="signInUsingUnregisteredEmail"/>
                    <include name="signInUsingInvalidCredentials"/>
                    <include name="signInUsingEmailAndMissingPassword"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>